@using Microsoft.CST.OAT.Utils;
@using Newtonsoft.Json;

<select id="@id" class="form-control" @bind="SelectedType">
    @for (int i = 0; i < Types.Length; i++)
    {
        <option value="@i">@Types[i].FullName</option>
    }
</select>
@code {
    [Parameter]
    public object? Object { get; set; }

    [Parameter]
    public string? SubPath { get; set; }

    [Parameter]
    public Type[] Types { get; set; } = Array.Empty<Type>();

    [Parameter]
    public string id { get; set; } = string.Empty;

    [Parameter]
    public IntHolder? BindIndex { get; set; }

    int SelectedType
    {
        get
        {
            return _selectedType;
        }
        set {
            _selectedType = value;
            if (BindIndex != null)
            {
                BindIndex.Value = _selectedType;
            }
            UpdateProperty();
        }
    }

    protected override void OnInitialized()
    {
        var newIndex = Array.IndexOf(Types,Types.FirstOrDefault(type => type.Name.Equals(Helpers.GetValueByPropertyOrFieldName(Object, SubPath))));
        SelectedType = newIndex < 0 ? 0 : newIndex;
        base.OnInitialized();
    }

    int _selectedType;

    public void UpdateProperty()
    {
        Helpers.SetValueByPropertyOrFieldName(Object, SubPath, Types[SelectedType].Name);
    }
}