@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Certificate Collector Options</h3>
<input id="enableCertificateCollectorCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableCertificateCollector" /><label for="enableCertificateCollectorCheckbox">Enable</label>