@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli
 
<p>
    <input class="@enableCertificateCollectionCheckboxGlowClass.ClassName" id="enableCertificateCollectionCheckbox" type="checkbox" @bind="EnableCertificateCollector" />
    <label for="enableCertificateCollectionCheckbox">Enable Certificate Collector</label>
</p>
@code{
    Helper.GlowClass enableCertificateCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableCertificateCollector
    {
        get
        {
            return appData.CollectOptions.EnableCertificateCollector;
        }
        set
        {
            appData.CollectOptions.EnableCertificateCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableCertificateCollectionCheckboxGlowClass, value);
        }
    }
}