@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

    <p>
        <input class="@enableCertificateCollectorCheckboxGlowClass" id="enableCertificateCollectorCheckbox" type="checkbox" @onchange="HandleEnableCertificateCollector" /><label for="enableCertificateCollectorCheckbox">Enable Certificate Collector</label>
    </p>
    @code{
        string enableCertificateCollectorCheckboxGlowClass;

        async void HandleEnableCertificateCollector(ChangeEventArgs evt)
        {
            appData.CollectOptions.EnableCertificateCollector = (bool)evt.Value;
            if (appData.CollectOptions.EnableCertificateCollector)
            {
                enableCertificateCollectorCheckboxGlowClass = "glowBlue";
            }
            else
            {
                enableCertificateCollectorCheckboxGlowClass = "glowRed";
            }
            await Task.Delay(500);
            enableCertificateCollectorCheckboxGlowClass = string.Empty;
            StateHasChanged();
        }
    }