@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassCertificateCollector" class="@enableCertificateCollectionCheckboxGlowClass" id="enableCertificateCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableCertificateCollector" /><label @onclick="ToggleGlowClassCertificateCollector" for="enableCertificateCollectionCheckbox">Enable Certificate Collector</label>

</p>
@code{
    string enableCertificateCollectionCheckboxGlowClass;

    async void ToggleGlowClassCertificateCollector(MouseEventArgs _)
    {
        enableCertificateCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableCertificateCollector);
        await Task.Delay(500);
        enableCertificateCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}