@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableComObjectCollectionCheckboxGlowClass.ClassName" id="enableComObjectCollectionCheckbox" type="checkbox" @bind="EnableComObjectCollector" />
    <label for="enableComObjectCollectionCheckbox">Enable ComObject Collector</label>
</p>
@code{
    Helper.GlowClass enableComObjectCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableComObjectCollector
    {
        get
        {
            return appData.CollectOptions.EnableComObjectCollector;
        }
        set
        {
            appData.CollectOptions.EnableComObjectCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableComObjectCollectionCheckboxGlowClass, value);
        }
    }
}