@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassComObjectCollector" class="@enableComObjectCollectionCheckboxGlowClass" id="enableComObjectCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableComObjectCollector" /><label @onclick="ToggleGlowClassComObjectCollector" for="enableComObjectCollectionCheckbox">Enable ComObject Collector</label>

</p>
@code{
    string enableComObjectCollectionCheckboxGlowClass;

    async void ToggleGlowClassComObjectCollector(MouseEventArgs _)
    {
        enableComObjectCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableComObjectCollector);
        await Task.Delay(500);
        enableComObjectCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}