@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<div class="options-card">
    <div class="first-entry">
        <input class="@enableComObjectCollectionCheckboxGlowClass.ClassName" id="enableComObjectCollectionCheckbox" type="checkbox" @bind="EnableComObjectCollector" />
        <label for="enableComObjectCollectionCheckbox">Enable ComObject Collector</label>
    </div>
</div>

@code{
    Helper.GlowClass enableComObjectCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableComObjectCollector
    {
        get
        {
            return appData.CollectOptions.EnableComObjectCollector;
        }
        set
        {
            appData.CollectOptions.EnableComObjectCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableComObjectCollectionCheckboxGlowClass, value);
        }
    }
}