@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>COM Object Options</h3>
<input id="enableComObjectCollectorCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableComObjectCollector" /><label for="enableComObjectCollectorCheckbox">Enable</label>