@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableCryptographicKeyCollectorCheckboxGlowClass" id="enableCryptographicKeyCollectorCheckbox" type="checkbox" @onchange="HandleEnableKeyCollector" /><label for="enableCryptographicKeyCollectorCheckbox">Enable Cryptographic Key Collector</label>
</p>
@code{
    string enableCryptographicKeyCollectorCheckboxGlowClass;

    async void HandleEnableKeyCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableKeyCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableKeyCollector)
        {
            enableCryptographicKeyCollectorCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableCryptographicKeyCollectorCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableCryptographicKeyCollectorCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}