@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassKeyCollector" class="@enableKeyCollectionCheckboxGlowClass" id="enableKeyCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableKeyCollector" /><label @onclick="ToggleGlowClassKeyCollector" for="enableKeyCollectionCheckbox">Enable Key Collector</label>

</p>
@code{
    string enableKeyCollectionCheckboxGlowClass;

    async void ToggleGlowClassKeyCollector(MouseEventArgs _)
    {
        enableKeyCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableKeyCollector);
        await Task.Delay(500);
        enableKeyCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}