@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Cryptographic Key Options</h3>
<input id="enableCryptographicKeyCollectorCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableKeyCollector" /><label for="enableCryptographicKeyCollectorCheckbox">Enable</label>