@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassDriverCollector" class="@enableDriverCollectionCheckboxGlowClass" id="enableDriverCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableDriverCollector" /><label @onclick="ToggleGlowClassDriverCollector" for="enableDriverCollectionCheckbox">Enable Driver Collector</label>

</p>
@code{
    string enableDriverCollectionCheckboxGlowClass;

    async void ToggleGlowClassDriverCollector(MouseEventArgs _)
    {
        enableDriverCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableDriverCollector);
        await Task.Delay(500);
        enableDriverCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}