@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableDriverCollectionCheckboxGlowClass.ClassName" id="enableDriverCollectionCheckbox" type="checkbox" @bind="EnableDriverCollector" />
    <label for="enableDriverCollectionCheckbox">Enable Driver Collector</label>
</p>
@code{
    Helper.GlowClass enableDriverCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableDriverCollector
    {
        get
        {
            return appData.CollectOptions.EnableDriverCollector;
        }
        set
        {
            appData.CollectOptions.EnableDriverCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableDriverCollectionCheckboxGlowClass, value);
        }
    }
}