@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassEventLogCollector" class="@enableEventLogCollectionCheckboxGlowClass" id="enableEventLogCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableEventLogCollector" /><label @onclick="ToggleGlowClassEventLogCollector" for="enableEventLogCollectionCheckbox">Enable EventLog Collector</label>
    <input @onclick="ToggleGlowClassVerboseEventLogCollector" class="@enableVerboseEventLogCollectionCheckboxGlowClass" id="enableVerboseEventLogCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.GatherVerboseLogs" /><label @onclick="ToggleGlowClassVerboseEventLogCollector" for="enableVerboseEventLogCollectionCheckbox">Enable Verbose Event Log Collector</label>

</p>
@code{
    string enableEventLogCollectionCheckboxGlowClass;

    async void ToggleGlowClassEventLogCollector(MouseEventArgs _)
    {
        enableEventLogCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableEventLogCollector);
        await Task.Delay(500);
        enableEventLogCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }

    string enableVerboseEventLogCollectionCheckboxGlowClass;

    async void ToggleGlowClassVerboseEventLogCollector(MouseEventArgs _)
    {
        enableVerboseEventLogCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.GatherVerboseLogs);
        await Task.Delay(500);
        enableVerboseEventLogCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}