@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableEventLogCollectorCheckboxGlowClass" id="enableEventLogCollectorCheckbox" type="checkbox" @onchange="HandleEnableEventLogCollector" /><label for="enableEventLogCollectorCheckbox">Enable Event Log Collector</label>
    <input class="@enableVerboseEventLogCollectorCheckboxGlowClass" id="enableVerboseEventLogCollectorCheckbox" type="checkbox" @onchange="HandleEnableEventLogCollectorVerbose" /><label for="enableVerboseEventLogCollectorCheckbox">Enable Gathering Verbose Event Logs</label>
</p>
@code{
    string enableEventLogCollectorCheckboxGlowClass;

    async void HandleEnableEventLogCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableEventLogCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableEventLogCollector)
        {
            enableEventLogCollectorCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableEventLogCollectorCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableEventLogCollectorCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }

    string enableVerboseEventLogCollectorCheckboxGlowClass;

    async void HandleEnableEventLogCollectorVerbose(ChangeEventArgs evt)
    {
        appData.CollectOptions.GatherVerboseLogs = (bool)evt.Value;
        if (appData.CollectOptions.GatherVerboseLogs)
        {
            enableVerboseEventLogCollectorCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableVerboseEventLogCollectorCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableVerboseEventLogCollectorCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}