@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableFirewallCollectionCheckboxGlowClass.ClassName" id="enableFirewallCollectionCheckbox" type="checkbox" @bind="EnableFirewallCollector" />
    <label for="enableFirewallCollectionCheckbox">Enable Firewall Collector</label>
</p>
@code{
    Helper.GlowClass enableFirewallCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableFirewallCollector
    {
        get
        {
            return appData.CollectOptions.EnableFirewallCollector;
        }
        set
        {
            appData.CollectOptions.EnableFirewallCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableFirewallCollectionCheckboxGlowClass, value);
        }
    }
}