@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassFirewallCollector" class="@enableFirewallCollectionCheckboxGlowClass" id="enableFirewallCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableFirewallCollector" /><label @onclick="ToggleGlowClassFirewallCollector" for="enableFirewallCollectionCheckbox">Enable Firewall Collector</label>

</p>
@code{
    string enableFirewallCollectionCheckboxGlowClass;

    async void ToggleGlowClassFirewallCollector(MouseEventArgs _)
    {
        enableFirewallCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableFirewallCollector);
        await Task.Delay(500);
        enableFirewallCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}