@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableNetworkPortCollectionCheckboxGlowClass.ClassName" id="enableNetworkPortCollectionCheckbox" type="checkbox" @bind="EnableNetworkPortCollector" />
    <label for="enableNetworkPortCollectionCheckbox">Enable NetworkPort Collector</label>
</p>
@code{
    Helper.GlowClass enableNetworkPortCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableNetworkPortCollector
    {
        get
        {
            return appData.CollectOptions.EnableNetworkPortCollector;
        }
        set
        {
            appData.CollectOptions.EnableNetworkPortCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableNetworkPortCollectionCheckboxGlowClass, value);
        }
    }
}