@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassNetworkPortCollector" class="@enableNetworkPortCollectionCheckboxGlowClass" id="enableNetworkPortCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableNetworkPortCollector" /><label @onclick="ToggleGlowClassNetworkPortCollector" for="enableNetworkPortCollectionCheckbox">Enable NetworkPort Collector</label>

</p>
@code{
    string enableNetworkPortCollectionCheckboxGlowClass;

    async void ToggleGlowClassNetworkPortCollector(MouseEventArgs _)
    {
        enableNetworkPortCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableNetworkPortCollector);
        await Task.Delay(500);
        enableNetworkPortCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}