@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassProcessCollector" class="@enableProcessCollectionCheckboxGlowClass" id="enableProcessCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableProcessCollector" /><label @onclick="ToggleGlowClassProcessCollector" for="enableProcessCollectionCheckbox">Enable Process Collector</label>

</p>
@code{
    string enableProcessCollectionCheckboxGlowClass;

    async void ToggleGlowClassProcessCollector(MouseEventArgs _)
    {
        enableProcessCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableProcessCollector);
        await Task.Delay(500);
        enableProcessCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}