@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableProcessCollectionCheckboxGlowClass" id="enableProcessCollectionCheckbox" type="checkbox" @onchange="HandleEnableProcessCollector" /><label for="enableProcessCollectionCheckbox">Enable Process Collector</label>
</p>
@code{
    string enableProcessCollectionCheckboxGlowClass;

    async void HandleEnableProcessCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableProcessCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableProcessCollector)
        {
            enableProcessCollectionCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableProcessCollectionCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableProcessCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}