@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableProcessCollectionCheckboxGlowClass.ClassName" id="enableProcessCollectionCheckbox" type="checkbox" @bind="EnableProcessCollector" />
    <label for="enableProcessCollectionCheckbox">Enable Process Collector</label>
</p>
@code{
    Helper.GlowClass enableProcessCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableProcessCollector
    {
        get
        {
            return appData.CollectOptions.EnableProcessCollector;
        }
        set
        {
            appData.CollectOptions.EnableProcessCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableProcessCollectionCheckboxGlowClass, value);
        }
    }
}