@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Process Collector Options</h3>
<input id="enableProcessCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableProcessCollector" /><label for="enableProcessCollectionCheckbox">Enable</label>