@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div class="options-card">
    <div class="first-entry">
        <input id="enableRegistryCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableRegistryCollector" />
        <label for="enableRegistryCollectionCheckbox">Enable Registry Collector</label>
    </div>
    <hr class="options-hr" />
    <div class="options-entry">
        <input id="selectedHivesString" type="text" @bind="appData.CollectOptions.SelectedHives" /><label for="selectedHivesString">Selected Hives (comma separated)</label>
    </div>
</div>