@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassRegistryCollector" class="@enableRegistryCollectionCheckboxGlowClass" id="enableRegistryCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableRegistryCollector" /><label @onclick="ToggleGlowClassRegistryCollector" for="enableRegistryCollectionCheckbox">Enable Registry Collector</label>
    <input id="selectedHivesString" type="text" @bind="appData.CollectOptions.SelectedHives" /><label for="selectedHivesString">Selected Hives (comma separated)</label>
</p>
@code{
    string enableRegistryCollectionCheckboxGlowClass;

    async void ToggleGlowClassRegistryCollector(MouseEventArgs _)
    {
        enableRegistryCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableRegistryCollector);
        await Task.Delay(500);
        enableRegistryCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}