@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableRegistryCollectionCheckboxGlowClass.ClassName" id="enableRegistryCollectionCheckbox" type="checkbox" @bind="EnableRegistryCollector" />
    <label for="enableRegistryCollectionCheckbox">Enable Registry Collector</label>
    <input id="selectedHivesString" type="text" @bind="appData.CollectOptions.SelectedHives" /><label for="selectedHivesString">Selected Hives (comma separated)</label>

</p>
@code{
    Helper.GlowClass enableRegistryCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableRegistryCollector
    {
        get
        {
            return appData.CollectOptions.EnableRegistryCollector;
        }
        set
        {
            appData.CollectOptions.EnableRegistryCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableRegistryCollectionCheckboxGlowClass, value);
        }
    }
}