@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassServiceCollector" class="@enableServiceCollectionCheckboxGlowClass" id="enableServiceCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableServiceCollector" /><label @onclick="ToggleGlowClassServiceCollector" for="enableServiceCollectionCheckbox">Enable Service Collector</label>

</p>
@code{
    string enableServiceCollectionCheckboxGlowClass;

    async void ToggleGlowClassServiceCollector(MouseEventArgs _)
    {
        enableServiceCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableServiceCollector);
        await Task.Delay(500);
        enableServiceCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}