@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableServiceCollectionCheckboxGlowClass.ClassName" id="enableServiceCollectionCheckbox" type="checkbox" @bind="EnableServiceCollector" />
    <label for="enableServiceCollectionCheckbox">Enable Service Collector</label>
</p>
@code{
    Helper.GlowClass enableServiceCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableServiceCollector
    {
        get
        {
            return appData.CollectOptions.EnableServiceCollector;
        }
        set
        {
            appData.CollectOptions.EnableServiceCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableServiceCollectionCheckboxGlowClass, value);
        }
    }
}