@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<div class="options-card">
    <div class="first-entry">
        <input class="@enableServiceCollectionCheckboxGlowClass.ClassName" id="enableServiceCollectionCheckbox" type="checkbox" @bind="EnableServiceCollector" />
        <label for="enableServiceCollectionCheckbox">Enable Service Collector</label>
    </div>
</div>

@code{
    Helper.GlowClass enableServiceCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableServiceCollector
    {
        get
        {
            return appData.CollectOptions.EnableServiceCollector;
        }
        set
        {
            appData.CollectOptions.EnableServiceCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableServiceCollectionCheckboxGlowClass, value);
        }
    }
}