@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Service Collector Options</h3>
<input id="enableServiceCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableServiceCollector" /><label for="enableServiceCollectionCheckbox">Enable</label>