@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>TPM Collector Options</h3>
<input id="enableTpmCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableTpmCollector" /><label for="enableTpmCollectionCheckbox">Enable</label>