@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableTpmCollectionCheckboxGlowClass" id="enableTpmCollectionCheckbox" type="checkbox" @onchange="HandleEnableTpmCollector" /><label for="enableTpmCollectionCheckbox">Enable TPM Collector</label>
</p>
@code{
    string enableTpmCollectionCheckboxGlowClass;

    async void HandleEnableTpmCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableTpmCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableTpmCollector)
        {
            enableTpmCollectionCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableTpmCollectionCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableTpmCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}