@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableTpmCollectionCheckboxGlowClass.ClassName" id="enableTpmCollectionCheckbox" type="checkbox" @bind="EnableTpmCollector" />
    <label for="enableTpmCollectionCheckbox">Enable Tpm Collector</label>
</p>
@code{
    Helper.GlowClass enableTpmCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableTpmCollector
    {
        get
        {
            return appData.CollectOptions.EnableTpmCollector;
        }
        set
        {
            appData.CollectOptions.EnableTpmCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableTpmCollectionCheckboxGlowClass, value);
        }
    }
}