@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input @onclick="ToggleGlowClassTpmCollector" class="@enableTpmCollectionCheckboxGlowClass" id="enableTpmCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableTpmCollector" /><label @onclick="ToggleGlowClassTpmCollector" for="enableTpmCollectionCheckbox">Enable Tpm Collector</label>

</p>
@code{
    string enableTpmCollectionCheckboxGlowClass;

    async void ToggleGlowClassTpmCollector(MouseEventArgs _)
    {
        enableTpmCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableTpmCollector);
        await Task.Delay(500);
        enableTpmCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}