@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<div class="options-card">
    <div class="first-entry">
        <input class="@enableUserCollectionCheckboxGlowClass.ClassName" id="enableUserCollectionCheckbox" type="checkbox" @bind="EnableUserCollector" />
        <label for="enableUserCollectionCheckbox">Enable User Collector</label>
    </div>
</div>

@code{
    Helper.GlowClass enableUserCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableUserCollector
    {
        get
        {
            return appData.CollectOptions.EnableUserCollector;
        }
        set
        {
            appData.CollectOptions.EnableUserCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableUserCollectionCheckboxGlowClass, value);
        }
    }
}