@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableUserCollectionCheckboxGlowClass" id="enableUserCollectionCheckbox" type="checkbox" @onchange="HandleEnableUserCollector" /><label for="enableUserCollectionCheckbox">Enable User Collector</label>
</p>
@code{
    string enableUserCollectionCheckboxGlowClass;

    async void HandleEnableUserCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableUserCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableUserCollector)
        {
            enableUserCollectionCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableUserCollectionCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableUserCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}