@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input @onclick="ToggleGlowClassUserCollector" class="@enableUserCollectionCheckboxGlowClass" id="enableUserCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableUserCollector" /><label @onclick="ToggleGlowClassUserCollector" for="enableUserCollectionCheckbox">Enable User Collector</label>

</p>
@code{
    string enableUserCollectionCheckboxGlowClass;

    async void ToggleGlowClassUserCollector(MouseEventArgs _)
    {
        enableUserCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableUserCollector);
        await Task.Delay(500);
        enableUserCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}