@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableUserCollectionCheckboxGlowClass.ClassName" id="enableUserCollectionCheckbox" type="checkbox" @bind="EnableUserCollector" />
    <label for="enableUserCollectionCheckbox">Enable User Collector</label>
</p>
@code{
    Helper.GlowClass enableUserCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableUserCollector
    {
        get
        {
            return appData.CollectOptions.EnableUserCollector;
        }
        set
        {
            appData.CollectOptions.EnableUserCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableUserCollectionCheckboxGlowClass, value);
        }
    }
}