@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli 

<p>
    <input @onclick="ToggleGlowClassWifiCollector" class="@enableWifiCollectionCheckboxGlowClass" id="enableWifiCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableWifiCollector" /><label @onclick="ToggleGlowClassWifiCollector" for="enableWifiCollectionCheckbox">Enable Saved Wifi Network Collector</label>
    <input @onclick="ToggleGlowClassWifiCollectorPasswords" class="@enableWifiPasswordCollectionCheckboxGlowClass" id="enableWifiPasswordCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.GatherWifiPasswords" /><label @onclick="ToggleGlowClassWifiCollectorPasswords" for="enableWifiPasswordCollectionCheckbox">Enable Password Collection</label>

</p>
@code{
    ElementReference collectionCheckboxRef;

    string enableWifiCollectionCheckboxGlowClass;

    async void ToggleGlowClassWifiCollector(MouseEventArgs _)
    {
        enableWifiCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.EnableWifiCollector);
        await Task.Delay(500);
        enableWifiCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }

    string enableWifiPasswordCollectionCheckboxGlowClass;

    async void ToggleGlowClassWifiCollectorPasswords(MouseEventArgs _)
    {
        enableWifiPasswordCollectionCheckboxGlowClass = Helper.GetGlowClass(appData.CollectOptions.GatherWifiPasswords);
        await Task.Delay(500);
        enableWifiPasswordCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}