@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<p>
    <input class="@enableWifiCollectionCheckboxGlowClass" id="enableWifiCollectionCheckbox" type="checkbox" @onchange="HandleEnableWifiCollector" /><label for="enableWifiCollectionCheckbox">Enable Saved Wifi Network Collector</label>
    <input class="@enableWifiPasswordCollectionCheckboxGlowClass" id="enableWifiPasswordCollectionCheckbox" type="checkbox" @onchange="HandleEnableWifiPasswordCollector" /><label for="enableWifiPasswordCollectionCheckbox">Enable Password Collection</label>
</p>
@code{
    string enableWifiCollectionCheckboxGlowClass;

    async void HandleEnableWifiCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.EnableWifiCollector = (bool)evt.Value;
        if (appData.CollectOptions.EnableWifiCollector)
        {
            enableWifiCollectionCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableWifiCollectionCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableWifiCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }

    string enableWifiPasswordCollectionCheckboxGlowClass;

    async void HandleEnableWifiPasswordCollector(ChangeEventArgs evt)
    {
        appData.CollectOptions.GatherWifiPasswords = (bool)evt.Value;
        if (appData.CollectOptions.GatherWifiPasswords)
        {
            enableWifiCollectionCheckboxGlowClass = "glowBlue";
        }
        else
        {
            enableWifiCollectionCheckboxGlowClass = "glowRed";
        }
        await Task.Delay(500);
        enableWifiCollectionCheckboxGlowClass = string.Empty;
        StateHasChanged();
    }
}