@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableWifiCollectionCheckboxGlowClass.ClassName" id="enableWifiCollectionCheckbox" type="checkbox" @bind="EnableWifiCollector" />
    <label for="enableWifiCollectionCheckbox">Enable Wifi Collector</label>
    <input class="@gatherWifiPasswordsCheckboxGlowClass.ClassName" id="enableWifiPasswordCollectionCheckbox" type="checkbox" @bind="GatherWifiPasswords" />
    <label for="enableWifiPasswordCollectionCheckbox">Enable Password Collection</label>
</p>
@code{
    Helper.GlowClass enableWifiCollectionCheckboxGlowClass = new Helper.GlowClass();

    bool EnableWifiCollector
    {
        get
        {
            return appData.CollectOptions.EnableWifiCollector;
        }
        set
        {
            appData.CollectOptions.EnableWifiCollector = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableWifiCollectionCheckboxGlowClass, value);
        }
    }

    Helper.GlowClass gatherWifiPasswordsCheckboxGlowClass = new Helper.GlowClass();

    bool GatherWifiPasswords
    {
        get
        {
            return appData.CollectOptions.GatherWifiPasswords;
        }
        set
        {
            appData.CollectOptions.GatherWifiPasswords = value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), gatherWifiPasswordsCheckboxGlowClass, value);
        }
    }
}