.page-wrap {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.main-content {
    -webkit-box-ordinal-group: 2; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2; /* OLD - Firefox 19- */
    -ms-flex-order: 2; /* TWEENER - IE 10 */
    -webkit-order: 2; /* NEW - Chrome */
    order: 2; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 70%; /* No flex here, other cols take up remaining space */
    -moz-box-flex: 1; /* Without this, Firefox 19- expands to widest paragraph, overrides width */
    background: white;
}

.main-nav {
    -webkit-box-ordinal-group: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1; /* OLD - Firefox 19- */
    -ms-flex-order: 1; /* TWEENER - IE 10 */
    -webkit-order: 1; /* NEW - Chrome */
    order: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    width: 30%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    background: #ccc;
}

.main-content,
.main-sidebar,
.main-nav {
    padding: 1em;
}

.header {
    font-weight: bold;
}

.diff {
    font-style: oblique;
}

.Added {
    border-left: 6px solid green;
    background: #98FB98;
    font-style: normal;
    width: 1px;
}

.Removed {
    border-left: 6px solid red;
    background: #fb9898;
    font-style: normal;
    width: 1px;
}

.Modified {
    border-left: 6px solid blue;
    background: #9898fb;
    font-style: normal;
    width: 1px;
}

tr, th, td {
    padding: 5px
}

table {
    border-spacing: 5px;
}

.resultTableExpanded {
    display: none;
}

#choosePath {
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}

#DirectorySelector {
    display: none;
}

#DirectorySelectorMonitor {
    display: none;
}
