@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.logo {
    height: 90px;
    width: 201px;
}

.lv-container {
    justify-content: flex-end;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.version {
    color: white;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

}
