@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

body {
    overflow: hidden;
}

main { /*
    position: absolute;
    top: 70px;
           */
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
}

.hover-underline:hover {
    border-bottom: thin;
    border-bottom-style: solid;
}
.hover-shadow:hover {
    box-shadow: inset 0px 0px 8px 3px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
.hover-shadow-circle:hover {
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.jt-cards {
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 2vh 1.5vw 2vh 1.5vw;
    margin: -1.5vh .5vw 0 .5vw;
}

.gh-logo {
    border: solid;
    border-color: gray;
    border-radius: 50%;
}

.logo {
    height: 26px;
    width: auto;
}

.navbar {
    justify-content: space-between;
    height: 70px;
    padding: 0 2vw 0 2vw;
}
.navbar-custom {
    background-color: #1c1c1c;
}
.navbar-brand {
    margin: 0;
    font-size: 1.2rem;
}
.navbar-brand:hover { 
    border-bottom: thin;
    border-bottom-style: solid;
}
.navbar-text {

}
.navbar-dropmenu {
    background-color: #323130;
}
.navbar-dropmenu .nav-item {
    font-size: 0.9rem;
    padding-bottom: .5rem;
}
.navbar-dropmenu .nav-item:first-of-type {
    padding-top: 1rem;
}
.navbar-dropmenu .nav-item:last-of-type {
    padding-bottom: 1rem;
}
.navbar-dropmenu .nav-item a {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 4px;
    height: 3rem;
    line-height: 3rem;
}
.navbar-dropmenu .oi {
    font-size: 1.1rem;
    width: 2rem;
    position: unset;
}
.navbar-quickmenu {
    display: flex;
}
.navbar-quickmenu .nav-item{
    display: flex;
    position: relative;
    width: 5.3vw;
    flex-direction: column;
    color: white;
    padding: .7vh 1vw .7vh 1vw;
}
.navbar-quickmenu .oi {
    font-size: 1.5rem;
}
.navbar-quickmenu .label {
    font-size: .75rem;
    align-self: center;
    margin-bottom: 0;
}
.navbar-quickmenu a {
    color: white;
    align-self: center;
}
.navbar-end {
}
.navbar-end a {
    color: white;
}
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.version {
    font-size: smaller;
    color: black;
    font-weight: bold;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
