@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Driver Options</h3>
<input id="enableDriverCollectorCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableDriverCollector" /><label for="enableDriverCollectorCheckbox">Enable</label>