@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
<h3>FileCollectorOptions</h3>
<label for="enableFileSystemCollectorCheckbox">Enable</label>
<input id="enableFileSystemCollectorCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableFileSystemCollector"/>
@code {

}
