@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Firewall Collector Options</h3>
<input id="enableFirewallCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableFirewallCollector" /><label for="enableFirewallCollectionCheckbox">Enable</label>