@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Open Port Collector Options</h3>
<input id="enableNetworkPortCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableNetworkPortCollector" /><label for="enableNetworkPortCollectionCheckbox">Enable</label>