@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>User Collector Options</h3>
<input id="enableUserCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableUserCollector" /><label for="enableUserCollectionCheckbox">Enable</label>