<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true">

  <targets async="true">
    <target xsi:type="File"
            name="default"            
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target xsi:type="Console"
          name="consoleLogger"
          layout="${longdate} - ${level} - ${message}"
          error="true"
          detectConsoleAvailable="true" />
    <target xsi:type="Console"
      name="verboseLogger"
      layout="${longdate} - ${level} - ${message}"
      error="true"
      detectConsoleAvailable="true" />
  </targets>
  <rules>
    <logger name="*" writeTo="consoleLogger" minlevel="Info" />
    <logger name="*" writeTo="debugLogger" minlevel="Debug" />
    <logger name="*" writeTo="consoleLogger" minlevel="Debug" enabled="false" />
  </rules>
</nlog>