@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<div>
    <input id="enableAnalysisCheckbox" type="checkbox" @bind="EnableAnalysis" />
    <label for="enableAnalysisCheckbox">Enable Analysis</label>
</div>

@code{
    bool EnableAnalysis
    {
        get
        {
            return !appData.ExportCollectCommandOptions.DisableAnalysis;
        }
        set
        {
            appData.ExportCollectCommandOptions.DisableAnalysis = !value;
        }
    }
}