@using Microsoft.CST.AttackSurfaceAnalyzer.Cli.Components.CollectorOptions

<div class="options-card-container">
    <div class="column">
        <FileCollectorOptions />
        <CertificateCollectorOptions />
        <ComObjectCollector />
        <CryptographicKeyCollectorOptions />
        <DriverCollectorOptions />
        <EventLogCollector />
        <FilewallCollectorOptions />
    </div>
    <div class="column">
        <OpenPortCollectorOptions />
        <ProcessCollectorOptions />
        <RegistryCollectorOptions />
        <ServiceCollectorOptions />
        <TpmCollectorOptions />
        <UserCollectorOptions />
        <WifiCollectorOptions />
    </div>
</div>