@inherits LayoutComponentBase
@using Microsoft.CST.AttackSurfaceAnalyzer.Utils

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Microsoft/AttackSurfaceAnalyzer">
            <img alt="Visit us on GitHub!" src="images/github-32.png" style="width:32px;height:32px;" />
        </a>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <img src="images/microsoft-gray.png" style="height:30px" alt="Microsoft Corporation Logo" /> v. @AsaHelpers.GetVersionString()
</nav>