@inherits LayoutComponentBase
@using Microsoft.CST.AttackSurfaceAnalyzer.Utils

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="top-link" href="https://github.com/Microsoft/AttackSurfaceAnalyzer">
            <img title="Visit us on GitHub!" alt="Visit us on GitHub!" src="images/github-32.png" />
        </a>
        <a class="top-link" href="https://github.com/Microsoft/AttackSurfaceAnalyzer/wiki" target="_blank">Docs</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>