@inherits LayoutComponentBase
@using Microsoft.CST.AttackSurfaceAnalyzer.Utils

<div class="container-fluid px-0">
    <NavMenu />
    <div class="content container-fluid flex-column px-4">
        @Body
    </div>
</div>