@using Microsoft.CST.AttackSurfaceAnalyzer.Utils

<nav class="navbar navbar-dark bg-dark">
    <div>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand pl-3" href="#">Attack Surface Analyzer</a>
    </div>

    <div class="navbar-nav mr-auto @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="guided">
                    <span class="oi oi-compass" aria-hidden="true"></span> Guided Mode
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="scan">
                    <span class="oi oi-target" aria-hidden="true"></span> Scan
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="monitor">
                    <span class="oi oi-pulse" aria-hidden="true"></span> Monitor
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="analyze">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Analyze
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="report">
                    <span class="oi oi-document" aria-hidden="true"></span> Report
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="author">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Author
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="sandbox">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Sandbox
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="configure">
                    <span class="oi oi-cog" aria-hidden="true"></span> Configure
                </NavLink>
            </li>
        </ul>
    </div>
    <div>
        <a class="nav-link" href="https://github.com/Microsoft/AttackSurfaceAnalyzer" target="_blank">
            <img title="Visit us on GitHub!" alt="Visit us on GitHub!" src="images/github-32.png" />
        </a>
        <a class="nav-link" href="https://github.com/Microsoft/AttackSurfaceAnalyzer/wiki" target="_blank">Docs</a>
    </div>
    
    <div class="lv-container">
        <img class="logo" src="images/microsoft-logo.png" alt="Microsoft Corporation Logo" />
        <div class="version">v.@AsaHelpers.GetVersionString()</div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
