<p>Running Monitoring. Perform desired system changes and press 'Stop' when finished.</p>
<button class="btn btn-primary" @onclick="Continue">Stop</button>

@code{
    [Parameter]
    public Action Continue { get; set; } = delegate () { };
}