@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
 
<div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enableCertificateCollectionCheckbox" @bind="appData.CollectOptions.EnableCertificateCollector" />
            <label class="form-check-label" for="enableCertificateCollectionCheckbox">Enable Certificate Collector</label>
        </div>
    </div>
</div>
