@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableComObjectCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableComObjectCollector" />
<label for="enableComObjectCollectionCheckbox">Enable ComObject Collector</label>
