@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div class="options-card">
    <div class="first-entry">
        <input id="enableKeyCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableKeyCollector" />
        <label for="enableKeyCollectionCheckbox">Enable Cryptographic Key Collector</label>
    </div>
</div>