@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableDriverCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableDriverCollector" />
<label for="enableDriverCollectionCheckbox">Enable Driver Collector</label>
