@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableEventLogCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableEventLogCollector" />
<label for="enableEventLogCollectionCheckbox">Enable EventLog Collector</label>
<input id="enableVerboseEventLogCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.GatherVerboseLogs" />
<label for="enableVerboseEventLogCollectionCheckbox">Enable Verbose Event Log Collector</label>
