@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableFirewallCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableFirewallCollector" />
<label for="enableFirewallCollectionCheckbox">Enable Firewall Collector</label>
