@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<form action="javascript:void(0);">
    <input id="enableNetworkPortCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableNetworkPortCollector" />
    <label for="enableNetworkPortCollectionCheckbox">Enable NetworkPort Collector</label>
</form>