@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableNetworkPortCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableNetworkPortCollector" />
<label for="enableNetworkPortCollectionCheckbox">Enable NetworkPort Collector</label>
