@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div class="options-card">
    <div class="first-entry">
        <input id="enableProcessCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableProcessCollector" />
        <label for="enableProcessCollectionCheckbox">Enable Process Collector</label>
    </div>
</div>