@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableProcessCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableProcessCollector" />
<label for="enableProcessCollectionCheckbox">Enable Process Collector</label>
