@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<input id="enableServiceCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableServiceCollector" />
<label for="enableServiceCollectionCheckbox">Enable Service Collector</label>
