@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<form action="javascript:void(0);">
    <input id="enableServiceCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableServiceCollector" />
    <label for="enableServiceCollectionCheckbox">Enable Service Collector</label>
</form>