@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div>
    <input id="enableTpmCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableTpmCollector" />
    <label for="enableTpmCollectionCheckbox">Enable TPM Collector</label>
</div>