@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enableUserCollectionCheckbox" @bind="appData.CollectOptions.EnableUserCollector" />
            <label class="form-check-label" for="enableUserCollectionCheckbox">Enable User Collector</label>
        </div>
    </div>
</div>