@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div>
    <input id="enableUserCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableUserCollector" />
    <label for="enableUserCollectionCheckbox">Enable User Collector</label>
</div>