@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<div>
    <input id="enableWifiCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.EnableWifiCollector" />
    <label for="enableWifiCollectionCheckbox">Enable Wi-Fi Collector</label>

    <input id="enableWifiPasswordCollectionCheckbox" type="checkbox" @bind="appData.CollectOptions.GatherWifiPasswords" />
    <label for="enableWifiPasswordCollectionCheckbox">Enable Password Collection</label>
</div>