@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData

<h3>Analysis Options</h3>
<input @bind="EnableAnalysis" type="checkbox" id="enableAnalysisCheckbox"/><label for="enableAnalysisCheckbox">Enable Analysis</label>

@code{
    bool EnableAnalysis
    {
        get { return !appData.ExportCollectCommandOptions.DisableAnalysis; }
        set { appData.ExportCollectCommandOptions.DisableAnalysis = !value; }
    }
}