@inject Microsoft.CST.AttackSurfaceAnalyzer.Cli.AppData appData
@using Microsoft.CST.AttackSurfaceAnalyzer.Cli

<p>
    <input class="@enableAnalysisCheckboxGlowClass.ClassName" id="enableAnalysisCheckbox" type="checkbox" @bind="EnableAnalysis" />
    <label for="enableAnalysisCheckbox">Enable Analysis</label>
</p>
@code{
    Helper.GlowClass enableAnalysisCheckboxGlowClass = new Helper.GlowClass();

    bool EnableAnalysis
    {
        get
        {
            return !appData.ExportCollectCommandOptions.DisableAnalysis;
        }
        set
        {
            appData.ExportCollectCommandOptions.DisableAnalysis = !value;
            Helper.ToggleGlow(() => InvokeAsync(StateHasChanged), enableAnalysisCheckboxGlowClass, value);
        }
    }
}